*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p, a, h1, h2, h3, h4{
  color: #33475B;
}

a{
  text-decoration: none;
}

p{
  line-height: 25px;
}

li{
  list-style: none;
}
.white{
  color: #ffffff;
}

.button{
  color: #FE775A;
  padding: 10px;
  border: 1px solid #FE775A;
  border-radius: 5px;
  background-color: #FAFCFE;
}

.background-button{
  color: #FAFCFE;
  padding: 10px;
  border-radius: 5px;
  background-color: #FE775A;
}

.service-format{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 2px 5px 6px rgba(0,0,0,0.19);
}

/* testata */

/* menu alto */

.menutop-container{
  background-color: #F4F9FD;
  border-bottom: 2px solid #33475B;
}

.menu{
  height: 80px;
  line-height: 80px;
  width: 75%;
  margin: 0 auto;
}
.menu li{
  display: inline;
}
.menu li a{
  font-size: 18px;
  font-weight: bold;
}
.menu li a.button{
  color: #FE775A;
}
.menu li a.background-button{
  color: #FAFCFE;
}
.menu:after{
  content: "";
  display: table;
  clear: both;
}
.menu .left{
  float: left;
  width: 50%;
}
.menu .right{
  float: left;
  width: 50%;
  text-align: right;
}

.menutop .left span{
  padding-right: 5px;
}
.menutop .left:first-child a{
  padding-right: 5px;
}

span.menu-distance{
  margin: 0 10px;
}

.menutop .right span{
  padding-right: 20px;
  color: #90D5E2;
}
.menutop .right li{
  padding-right: 10px;
}

/* menu basso */

.menubottom img{
  vertical-align: middle;
}
.menubottom .right li{
  padding-right: 20px;
}

/* corpo header */

.header-main{
  width: 100%;
  height: 650px;
  background-image: url('../img/jumbotron.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 90% 1%;
  padding-top: 80px;
}

.main-message{
  width: 40%;
  margin-left: calc(25% / 2);
  padding-top: 20px;
}
.main-message .title{
  font-size: 180%;
  font-weight: 900;
  margin-bottom: 30px;
}
.main-message .content{
  margin-bottom: 50px;
}
.main-message .button-cta .background-button{
  padding: 20px 30px;
}
.main-message .button-cta-text{
  font-size: 80%;
  margin-top: 50px;
}

/* corpo pagina */

.divisor-header{
  width: 100%;
  height: 80px;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
  background-color: #AFEBE4;
}

/* sezione messaggio motivazionale */

.motivational-container{
  width: 100%;
  background-color: #F5F8FA;
}

.motivational{
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.motivational-pic img{
  width: 25%;
  padding-top: 30px;
}
.motivational h2{
  font-size: 200%;
  padding-bottom: 30px;
}
.motivational p{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* sezione orizzontale servizi */

.service{
  width: 100%;
  height: 400px;
  background-color: #F4F9FD;
}

.horizontal-service{
  margin: 0 auto;
  height: 350px;
  width: 75%;
}
.horizontal-service{
  content: "";
  display: table;
  clear: both;
}

.service-header{
  float: left;
  position: relative;
  height: 300px;
  width: 35%;
}
.service-header .service-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.service-container img{
  width: 70%;
  margin-bottom: 40px;
}
.service-container .background-button{
  padding: 20px 20%;
}

.service-body{
  float: left;
  height: 300px;
  width: 65%;
  padding-right: 80px;
}
.service-body .topside{
  padding: 15px 15px 0 15px;
}
.service-body .topside h2{
  margin: 40px 0 30px;
  font-weight: bold;
}

hr.service-divider{
  border: 2px solid #33475B;
  margin-top: 40px;
  width: 80%;
  margin-left: 30%;
}

.service-body .bottomside{
  padding: 0 15px;
  margin-top: -12px;
}
.service-body .bottomside:after{
  content: "";
  display: table;
  clear: both;
}
.service-body .bottomside li{
  float: left;
  font-size: 14px;
  margin-top: 20px;
  padding-right: 20px;
}

.service-body .bottomside li i{
  padding-right: 15px;
  color: #FF7A59;
}

/* sezione verticale servizi */

.more-service{
  width: 100%;
  background-color: #F4F9FD;
  margin-bottom: 50px;
}
.more-service .container{
  width: 75%;
  margin: 0 auto;
}
.more-service .container:after{
  content: "";
  display: table;
  clear: both;
}
.more-service .box{
  float: left;
  width: calc(90% / 3);
}
.more-service .box:nth-child(2){
  margin: 0 5%;
}
.more-service .box-header{
  padding: 25px 20px;
  text-align: center;
}
.more-service .box-header img{
  display: inline-block;
  width: 50%;
  margin-bottom: 30px;
}
.more-service .box-header h2{
  margin-bottom: 30px;
}
.more-service .box-header p{
  margin-bottom: 35px;
}
.more-service .box-header hr{
  width: 90%;
  border: 2px solid #33475B;
  margin: 0 auto;
}
.more-service .box-body{
  padding: 25px 30px;
}
.more-service .box-body h3{
  text-align: center;
  margin-bottom: 20px;
}
.more-service .box-body li{
}
.more-service .box-body li p{
  line-height: 10px;
}
.more-service .box-body ul{
  margin-bottom: 60px;
}
.more-service .box-body i{
  padding-right: 15px;
  color: #FF7A59;
}
.more-service .box-body .btn{
  text-align: center;
}
.more-service .box-body .btn .background-button{
  padding: 20px 25px;
}

/* sezione statistiche */

/* sezione statistiche titoli */

.statistic{
  width: 100%;
  background-color: #00B8AB;
}

.statistic .container-title{
  width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  padding: 40px 60px;
}

.statistic .container-title h2{
  font-size: 200%;
  margin-bottom: 30px;
}

/* sezione statistiche body */

.container-body{
  width: 100%;
  background-color: lightblue;
  height: 430px;
  background-color: #00B8AB;
}

.container-box{
  width: 75%;
  /* height: 500px; */
  margin: 0 auto;
}

.top-row{
  width: 100%;
  padding-top: 50px;
  margin: 0;
}

.top-row:after{
  content: "";
  display: table;
  clear: both;
}

.format-box{
  position: relative;
  float: left;
  margin: 0 auto;
  width: 25%;
  height: 150px;
}

.format-box h2{
  display: inline-block;
  font-size: 250%;
}

.format-box p{
  font-size: 12px;
}

.format-box .box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.top-row .format-box{
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-top: none;
}
.top-row .format-box:last-child{
  border-right: none;
}

.bottom-row{
  width: 100%;
  margin: 0;
}
.bottom-row .format-box{
  border-right: 1px solid #ffffff;
}
.bottom-row .format-box:last-child{
  border-right: none;
}

/* sezione pubblicità */

.spot{
  width: 100%;
  margin-bottom: 40px;
}
.spot .container{
  width: 75%;
  margin: 0 auto;
}

/* sezione testata */
.spot-header{
  width: 100%;
}
.spot-header:after{
  content: "";
  display: table;
  clear: both;
}
.spot-header .title-left{
  float: left;
  width: 40%;
  padding: 40px 120px;
}
.spot-header .title-right{
  float: left;
  width: 60%;
}

/* sezione testata sinistra */

.spot-header .title-left h2{
  font-size: 300%;
  padding-bottom: 30px;
}

/* sezione testata destra */

.spot-header .title-right{
  padding: 70px 30px;
}

.brand-list ul:nth-child(1){
  padding-bottom: 40px;
}

.title-right .brand-list img{
  width: 20%;
}
.title-right .brand-list li{
  display: inline;
  padding-left: 10px;
}

/* sezione pubblicità corpo pagina */
.spot-body{
}
.spot-body:after{
  content: "";
  display: table;
  clear: both;
}

.spot-message{
  float: left;
  width: 40%;
}
.spot-message .main-message{
  margin-left: 0;
  width: 100%;
}

.spot-img{
  float: left;
  width: 60%;
  text-align: right;
}
.spot-img img{
  width: 45%;
}

/* footer */

.main-footer{
  width: 100%;
  height: 500px;
  background-color: #32495B;
}
.main-footer .container{
  width: 75%;
  height: 500px;
  margin: 0 auto;
}
.main-footer .container{
  content: "";
  display: table;
  clear: both;
}
.main-footer .container .col{
  float: left;
  width: 20%;
  margin: 20px calc(15% / 3) 0 0;
}
.main-footer .container .col h4{
  padding-bottom: 15px;
}
.main-footer .container .col a{
  line-height: 32px;
  font-size: 14px;
  color: #DADEE0;
}
.main-footer .container .col a.background-button{
  background-color: #DADEE0;
  color: #32495B;
  padding: 5px;
}
.main-footer .container .col li ul li{
  display: inline;
}
.main-footer .container .col li ul li i{
  padding-right: calc(50% / 4);
}
