*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p, a{
  font-family: 'Roboto', sans-serif;
}
/* testata */

/* menu alto */

.menutop-container{
  background-color: #F4F9FD;
}

.menutop-container{

}

.menu{
  height: 80px;
  line-height: 80px;
  width: 75%;
  margin: 0 auto;
}

.menu li{
  list-style: none;
  display: inline;
}
.menu li a{
  text-decoration: none;
  font-size: 18px;
  color: #33475B;
}

.menu li a.button{
  text-decoration: none;
  color: #FE775A;
  padding: 10px;
  border: 1px solid #FE775A;
  border-radius: 5px;
  background-color: #FAFCFE;
}
.menu li a.background-button{
  text-decoration: none;
  color: #FAFCFE;
  padding: 10px;
  border-radius: 5px;
  background-color: #FE775A;
}

.menu:after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float:left;
}

.menu .left{
  width: 50%;
}

.menu .right{
  width: 50%;
  text-align: right;
}


.menutop .left span{
  padding-right: 5px;
}

.menutop .left:first-child a{
  padding-right: 5px;
}

span.menu-distance{
  margin: 0 10px;
}

.menutop .right span{
  padding-right: 20px;
  color: #90D5E2;
}

.menutop .right li{
  padding-right: 10px;
}

/* menu basso */


/* corpo header */

.header-main{
  width: 100%;
  height: 650px;
  background-image: url('../img/jumbotron.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 90% 1%;
  padding-top: 50px;
}

.main-message{
  width: 40%;
  background-color: blue;
  margin-left: 5%;
  padding-top: 20px;
}


/* corpo pagina */

.divisor-header{
  width: 100%;
  height: 80px;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
  background-color: #AFEBE4;
}
